/* .nav {
  height: 5rem !important;
  background-color: black !important;
}
.containerr {
  margin-left: 2%;
}
.containerr > * {
  font-size: 1.4rem;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
  margin: auto !important;
  width: 100% !important;
  justify-content: center;
  margin-left: 160px !important;
} */

.containerr {
  margin: 0 !important;
  margin-left: 10px !important;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: center !important;
  width: 100% !important;
}
.navbar-expand-lg .navbar-nav {
  margin: auto;
}
img {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: center !important;
  width: 100% !important;
}

.scrolled > * {
  transition: all 3s ease;
}
.navbtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
